extends layout-loggedin

block content
        .modal-box(flex='60')
          div(style='text-align: center; color: red')
            | #{message}
          h3.font-bold(style='color: #C70039') Edit Profile!
          form.ng-invalid.ng-invalid-required.ng-dirty.ng-valid-email(novalidate='', action='/callChangePasswordApi', method='post')
            // 
            .field.has-error.form-group.error(bs-has-error='', flex='50')
              div
                input.input.form-control.has-error(type='text', placeholder='userid', name='userId', ng-required='', value='#{user[0].userId}', hidden)
              div
                p.label Current Password
                input.input.form-control.has-error(type='text', placeholder='Current Password', name='oldpassword', ng-required='', value='')
              div
                p.label New Password
                input.input.form-control.has-error(type='text', placeholder='New Password', name='newpassword', ng-required='', value='')
                

            div(style='text-align: center; color: grey; font-size: 16px; margin:10px')
            ul.btn-list
              li
                button.btn.btn-lg.btn-violet(type='submit', ng-disabled='form.$invalid')
                  span UPDATE
              li(style='color:#7b8ca8!important')
                button.btn.btn-lg.btn-violet(type='submit', ng-disabled='form.$invalid',formmethod="get",onclick='window.location="/profile";return false;')
                  span CANCEL